{% extends "layout/basic.html" %}

{% load bootstrap4 %}

{% block title %}Профиль пользователя{% endblock %}

{% block content %}
<h2>Профиль пользователя {{ user.username }}</h2>
{% if user.first_name and user.last_name %}
<p>{{ user.last_name }} {{ user.first_name }} {% if user.middle_name %} {{ user.middle_name }} {% endif %}</p>
{% endif %}
{% for tag, values in hobbies.items %}
<p>{{ tag }}: {{ values }} </p>
{% endfor %}
<nav class="col-md-auto nav flex-column border">
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        {% buttons submit='Добавить' %}{% endbuttons %}
    </form>
</nav>
</nav>
{% endblock %}